body{
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
}

main{
    display: grid;
    place-items: center;
    min-height: 100vh;
    position: relative;
}

#target{
    width: 50vw;
    height: 100vh;
}

#eyes, #eyes img{
    position: absolute;
}