@import url("./anime.css");

:root{
    /* CSS HEX */
    --xiketic: #0B0322ff;
    --persian-blue: #3B3EB1ff;
    --persian-blue-2: #1B1F82;
    --blue-bell: #AFAAC5ff;
    --dark-purple: #331032ff;
    --xiketic-2: #070121ff;
    --pink-shade: #f6005a;
    --golden-shade: #f3ec78;

    /* CSS HSL */
    --xiketic: hsla(255, 84%, 7%, 1);
    --persian-blue: hsla(238, 50%, 46%, 1);
    --persian-blue-2: hsla(238, 65.6%, 30.8%, 1);
    --blue-bell: hsla(251, 19%, 72%, 1);
    --dark-purple: hsla(302, 52%, 13%, 1);
    --xiketic-2: hsla(251, 94%, 7%, 1);
    --pink-shade: hsla(338, 100%, 48%,1);
    --golden-shade:hsl(57, 84%, 71%,1);
}

*{
    box-sizing: border-box;
    color:var(--blue-bell);
}

body{
    margin:auto 100px;
    margin-bottom: 20px;
}

div.website_title{
    margin-top:40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Kanit', sans-serif;
}

div.website_title img{
    width: 50%;
    height: auto;
}

div.website_title div h1{
    font-size:3rem;
    margin-bottom: 8px;
}

div.website_title div h3{
    margin-top:8px;
}

span#first{
    background: -webkit-linear-gradient(var(--golden-shade), var(--pink-shade));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span#first > .letter {
    background: -webkit-linear-gradient(var(--golden-shade), var(--pink-shade));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    pointer-events: none;
    animation: upscale 0.5s 1;
}

@keyframes upscale{
	50%{
		-webkit-transform: scale(1.5);
		transform: scale(1.5);
    }
}

#contributors_heading{
    margin: 100px auto 4px 40px;
    text-align: start;
    color:white;
}

div.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    margin: auto 40px;
}

div.card{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    height: 260px;
    width:240px;
    box-sizing: content-box;
    border-width: 4px 4px 4px 4px;
    border-style: solid;
    border-image: linear-gradient(to right bottom, var(--persian-blue),var(--dark-purple), rgba(0,0,0,0));
    border-image-slice: 1;
    overflow:hidden;
    z-index: 4;
}

div.card div.heading_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to right, var(--persian-blue),var(--dark-purple));
    padding: 0px;
    line-height:1;
    z-index: 4;
}


div.card div.heading_div p{
    margin-left:4px;
}
div.card div.heading_div img{
    width:30px;
    height:30px;
    border-radius: 50%;
}

div.card div.details_div{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

h1,h3,p {
    text-align: center;
    color:whitesmoke;
}

body{
    background: linear-gradient(-45deg, var(--xiketic-2), var(--xiketic), var(--dark-purple)); background-attachment: fixed;
}



